doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Please Verify Your Email Address
table#main(width='100%' height='100%' cellpadding='0' cellspacing='0' border='0' bgcolor='#F4F7FA')
  tbody
    tr
      td(valign='top')
        table.innermain(cellpadding='0' width='580' cellspacing='0' border='0' bgcolor='#F4F7FA' align='center' style='margin:0 auto; table-layout: fixed;')
          tbody
            // START of MAIL Content
            tr
              td(colspan='4')
                // Main CONTENT
                table(width='100%' cellpadding='0' cellspacing='0' border='0' bgcolor='#ffffff' style='border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);')
                  tbody
                    tr
                      td(height='40')
                    tr(style='font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu;,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;')
                      td.content(colspan='2' valign='top' align='center' style='padding-left:90px; padding-right:90px;')
                        table(width='100%' cellpadding='0' cellspacing='0' border='0' bgcolor='#ffffff')
                          tbody
                            tr
                              td(align='center' valign='bottom' colspan='2' cellpadding='3')
                                img(alt='Coinbase' width='80' src='https://www.coinbase.com/assets/app/icon_email-e8c6b940e8f3ec61dcd56b60c27daed1a6f8b169d73d9e79b8999ff54092a111.png')
                            tr
                              td(height='30')
                            tr
                              td(align='center')
                                span(style='color:#48545d;font-size:22px;line-height: 24px;')
                                  | Verify your email address
                            tr
                              td(height='24')
                            tr
                              td(height='1' bgcolor='#DAE1E9')
                            tr
                              td(height='24')
                            tr
                              td(align='center')
                                span(style='color:#48545d;font-size:14px;line-height:24px;')
                                  | Hello #{name},
                                  | Thank you for subscribing. In order to start using your ENIT TIC account, you need to confirm your email address.
                            tr
                              td(height='20')
                            tr
                              td(valign='top' width='48%' align='center')
                                span
                                  a(href=`https://backend-ticenit.herokuapp.com/student/confirm/${confirmationCode}` style='display:block; padding:15px 25px; background-color:#0087D1; color:#ffffff; border-radius:3px; text-decoration:none;') Verify Email Address
                            tr
                              td(height='20')
                            tr
                              td(align='center')
                                img(src='https://s3.amazonaws.com/app-public/Coinbase-notification/hr.png' width='54' height='2' border='0')
                            tr
                              td(height='20')
                            tr
                              td(align='center')
                                p(style='color:#a2a2a2; font-size:12px; line-height:17px; font-style:italic;')
                                  | If you did not sign up for this account you can ignore this email and the account
                                  | will be deleted.
                    tr
                      td(height='60')
                // Main CONTENT end here
